@charset "ISO-8859-1";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

body {
    max-width: 100%;
    overflow-x: hidden;
}
.wrapper{
    max-width: 100%;
    overflow: hidden;
}
#banner {
    background-image: url('../img/becomeprovider/group-18.jpg');
    background-size: 100% 100%;
    max-width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}
.parallax {
    min-height: 1050px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}
.navbar{
    background-color: transparent;
}
.nabar ul{
    overflow: auto;
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show > .nav-link {
    color: white;
}
.navbar-light .navbar-nav .nav-link {
    color: white;
}
#header1{
  transition: 0.5s;
}
#terms_conditions a{
	text-decoration: none;
	color: #1d7a8c;
}
#terms_conditions a:hover{
	color:#6eabef;
}
#privacy_policy a{
	text-decoration: none;
	color: #1d7a8c;
}
#privacy_policy a:hover{
	text-decoration: none;
	color: #6eabef;
}
a{
	text-decoration: none;
	color: white;
}
.vh-100{
  margin-top: 200px;
}
.book-a-cleaner-copy:hover{
  color: black;
  background-color: white;
  border-radius: 27px;
}
.book-a-cleaner:hover{
  border: 1px solid white;
    border-radius: 20px;
    color: white;
}
@media screen and (max-width: 1020px){
    .navbar-brand img {
        width: 80px;
        height: 65px;
    }
}
@media screen and (max-width: 1080px){
    .navbar-brand img {
        width: 120px;
        height: 80px;
    }
}
.Rounded-Rectangle-5-copy-4 {
    width: 161px;
    height: 40px;
    border-radius: 20px;
   
    border: solid 1px white;
    background-color: transparent;
    text-align: center;
}
.Rounded-Rectangle-5 {
    width: 97px;
    height: 40px;
    border-radius: 20px;
    border: solid 1px white;
    
    background-color: transparent;
    text-align: center;
  }
  .Rounded-Rectangle-5-copy {
    width: 161px;
    height: 40px;
    border-radius: 20px;
    
    border: solid 1px white;
    background-color: transparent;
    text-align: center;
}
.mb-4 {
    margin-bottom: -0.5rem!important;
}
.mb-5 {
    margin-bottom: 1rem!important;
}
.card{
    border-radius: 4px;
}
/* .row>* {
    max-width: 40%;
} */
.fb9 {
    border: 1px solid #3366FF;
    background-color: #B3C6FF;
    width:150px;
    height:30px;
  }
.btn{
    border-radius: 23px;
    color: white;
    background-color: #1d7a8c;
}
.btn-success{
    color: white;
    background-color: #1d7a8c;
}
.btn-lg{
    color: white;
    background-color: #1d7a8c;
}
.btn:hover{
    background-color: white;
    color: black;
}
.down{
    display: block;
    text-align: center;
    align-items: center;
    margin: auto;
  }
  img.Ellipse-525 {
    width: 90px;  
    height: 80px; 
    padding: 10px 12px;
    object-fit: contain;
    border: solid 1px var(--white);
    background-color: var(--white);
  }
  img.Shape-1 {
    width: 20px;
    height: 45px;
     margin-left: -59px;
    object-fit: contain;
    background-color: var(--white);
  }
  .How-it-works {
    /* width: 230px;
    height: 31px;
    margin: 48px 451px 73px 25px; */
    display: block;
    margin: 68px auto 20px auto;
    font-family: Roboto;
    font-size: 40px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.45;
    letter-spacing: normal;
    text-align: center;
    color: #4f4f4f;
  }
  .test{
      margin-top: 125px;
  }
  .Register-yourself {
    /* width: 230px;
    height: 29px;
    margin: 125px 29px 16px 218px; */
    display: block;
    font-family: Roboto;
    font-size: 30px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #4f4f4f;
  }

  img.img-1 {
    /* width: 260px;
    height: 260px;*/
    /* margin: 73px 192px 20px 150px; */
    margin-top: 80px;
    display: block;
    text-align: right;
    object-fit: contain;
    float: right !important;
  }
  .Provide-your-basic-information-to-register-yourself-as-a-servic {
    /* width: 330px;
    height: 42px;
    margin: 13px 57px 48px 218px; */
    display: block;
    font-family: Roboto;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #4f4f4f;
  }
  .Read-more {
    /* width: 85px;
    height: 14px;
    margin: 48px 10px 53px 220px; */
    display: block;
    margin-top: 30px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #4f4f4f;
  }
  img.img-2{
    margin-top: 80px;
    display: block;
    text-align: left;
    object-fit: contain;
    float: left !important;  
  }
  .test7{
    display: block;
    text-align: center;
    align-items: center;
    margin: 55px auto 10px auto; 
  }
  .GET-OUR-NEWSLETTER {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: normal;
    color: #353548;
  }
  .Rounded-Rectangle-649 {
    width: 233px;
    height: 40px;
    display: block;
    float: right;
    margin-right: -80px;
    margin-top: -45px;
    text-align: left;
    padding-left: 17px;
    padding-top: 3px;
    border-radius: 20px;
    border: solid 1px #565656;
    background-color: #f4f5f8;
  }
  .Your-Email {
    display: block;
    margin-bottom: 10px;;
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.29;
    letter-spacing: normal;
    text-align: left;
    color: #565656;
  }
  .Rounded-Rectangle-649-copy {
    width: 88px;
    height: 40px;
    display: block;
    margin-left: 70px;
    float: left;
    text-align: left;
    border-radius: 20px;
    background-color: #ff7b6d;
  }
  .Submit {
    display: block;
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.29;
    letter-spacing: normal;
    color: white;
    padding: 5px 5px 5px 20px;

  }
  .Ellipse-649 {
    width: 48px;
    height: 48px;
    padding: 18px 14px 20px;
    background-color: #525252;
    border-radius: 50%;
    padding-top: 7px;
  }
  img.Forma-1-new {
    width: 20px;
    height: 10px;
    object-fit: contain;
    background-color: transparent;
    position: relative;
  }
  img.Layer-598 {
    width: 60px;
    height: 60px;
    object-fit: contain;
    float: right;
    margin-top: -9px;
  }
  
  .Rectangle-12 {
    width: 100%;
    height: 250px;
    background-color: black;
  }
  img.white_logo_transparent_background-copy-4 {
    width: 106px;
    height: 78px;
    float: left;
    margin-top: 60px;
    object-fit: contain;
  }
  .Home-About-Testimonials-FAQs-In {
    display: block;
    margin: auto;
    margin-top: 70px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.14;
    letter-spacing: normal;
    color: #f1f1f1;
  }
  .Home-About-Testimonials-FAQs-In-copy {
    width: 102;
    display: block;
    margin: auto;
    margin-left: -30px;
    margin-top: 70px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.14;
    letter-spacing: normal;
    color: #f1f1f1;
  }
  .Rectangle-12 span .fa{
    color: white;
  }
  .test9{
    display: block;
    align-items: end;
    text-align: right;
    margin: 5px auto; 
    
  }
  .fb-insta-icon{
    align-items: end;
    margin-top: 70px;
  }
  hr{
      color: white;
  }
  .test10{
      display: block;
      margin: auto;
      text-align: center;
  }
  .-Helperland-All-rights-reserved-Terms-and-Conditions {
    padding: 5px 5px 5px 5px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
    color: #737381;
  }
  
  .-Helperland-All-rights-reserved-Terms-and-Conditions .text-style-1 {
    color: #737381;
  }
  .test8{
    display: block;
    text-align: center;
    align-items: end;
    margin: 5px auto; 
  }

  @media screen and (max-width: 600px){
      .How-it-works{
          margin-top: 50px;
          line-height: 1.5;
          font-size: 26px;
      }
      .margn{
        margin-top: 50px;
      }
      .margn2{
          margin-top: -40px;
      }
      .Register-yourself{
          display: block;
          margin: auto;
          text-align: center;
          font-size: 25px;
    
      }
      .Provide-your-basic-information-to-register-yourself-as-a-servic{
          display: block;
          margin: auto;
          text-align: center !important;
      }
      .Read-more{
          display: block;
          margin: 5px auto;
          text-align: center !important;
      }
      img.img-1{
          display: block;
          margin-right: -43px;
          margin-top: 40px;

      }
      img.img-2{
        display: block;
        margin-left: -48px;
        float: none;
        margin-bottom: -60px;
      }
      .Rounded-Rectangle-649 {
        width: 233px;
        height: 40px;
        display: block;
        float: right;
        margin-right: -80px;
        margin-top: 0px;
        text-align: left;
        padding-left: 17px;
        padding-top: 3px;
        border-radius: 20px;
        border: solid 1px #565656;
        background-color: #f4f5f8;
      }
      .Home-About-Testimonials-FAQs-In { 
        display: none;
      }
      .Home-About-Testimonials-FAQs-In-copy {
         display: none;
      }
      img.Layer-598{
        display: none;
      }
      .Ellipse-649{
        display: none;
      }
  }
  @media screen  and (max-width:1080px) and (min-width:760px){
    .How-it-works{
        margin-top: 50px;
        line-height: 1.5;
        font-size: 26px;
    }
    .margn{
      margin-top: 50px;
    }
    .margn2{
        margin-top: -40px;
    }
    .Register-yourself{
        display: block;
        margin: auto;
        text-align: center;
        font-size: 25px;
  
    }
    .Provide-your-basic-information-to-register-yourself-as-a-servic{
        display: block;
        margin: auto;
        text-align: center !important;
    }
    .Read-more{
        display: block;
        margin: 5px auto;
        text-align: center !important;
    }
    img.img-1{
        /* display: block; */
        margin-right: 55px;
        margin-top: 10px;
        /* text-align: center !important; */
        /* margin-right: -43px;
        margin-top: 40px; */

    }
    img.img-2{
        margin-left: 46px;
        margin-bottom: -70px;
        float: none;
    }
  }
