@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

body{
    max-width: 100%;
    overflow-x: hidden;
}
.wrapper{
    max-width: 100%;
    overflow: hidden;
}
#banner3 {
    background-image: url('../img/contact/group-16.jpg');
    background-size: 100% 100%;
    max-width: 100%;
    height: 370px;
    background-repeat: no-repeat;
    overflow: hidden;
    margin-top: 79px;
}
.navbar{
    background-color: #525252;
}
.nabar ul{
    overflow: auto;
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show > .nav-link {
    color: white;
}
.navbar-light .navbar-nav .nav-link {
    color: white;
}
.white_logo_transparent_background {
    width: 73px;
    height: 54px;
  }
@media screen and (max-width: 1020px){
    .navbar-brand img {
        width: 80px;
        height: 65px;
    }
}
@media screen and (max-width: 1080px){
    .navbar-brand img {
        width: 120px;
        height: 80px;
    }
}
.Rounded-Rectangle-5-copy-4 {
    width: 161px;
    height: 40px;
    border-radius: 20px;
    border: solid 1px white;
    background-color: #006072;
    text-align: center;
}
.Rounded-Rectangle-5 {
    width: 97px;
    height: 40px;
    border-radius: 20px;
    border: solid 1px white;
    
    background-color: #006072;
    text-align: center;
  }
  .Rounded-Rectangle-5-copy {
    width: 161px;
    height: 40px;
    border-radius: 20px;
    
    border: solid 1px white;
    background-color: #006072;
    text-align: center;
}
.Contact-us {
    /* width: 171px;
    height: 26px;
    margin: 39px 195px 18px 194px; */
    display: block;
    margin: 39px auto 18px auto;
    font-family: Roboto;
    font-size: 36px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: #4f4f4f;
  }
  .Forma-1-copy-5 {
    display: block;
    margin: auto;
  }
  img.Forma-1 {
    width: 34px;
    height: 54px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    margin-bottom: 20px;
    /* margin: 50px 58px 22px 382px; */
    object-fit: contain;
    background-color: var(--blue-green);
  }
  .-Lorem-ipsum-text-100-Lorem-ipsum-AB {
    width: 197px;
    height: 39px;
    /*margin: 23px 114px 80px 303px; */
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #4f4f4f;
  }
  img.phone-call {
    width: 40px;
    height: 54px;
    /* margin: 52px 54px 22px 0; */
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    margin-bottom: 20px;
    object-fit: contain;
    background-color: var(--blue-green);
  }
  img.Vector-Smart-Object {
    width: 44px;
    height: 54px;
    /* margin: 59px 400px 30px 11px; */
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    margin-bottom: 20px;
    object-fit: contain;
    background-color: var(--blue-green);
  }
  .test6{
    display: block;
    text-align: center;
    align-items: center;
    /* margin: 20px auto; */
  }
  
  .card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
  }
  .card-registration .select-arrow {
    top: 13px;
  }
  .card{
      border: none;
      text-align: center !important;
  }
  .mb-4 {
    margin-bottom: -0.5rem!important;
}
.pb-md-0 {
    padding-bottom: 20px !important;
}
.btn{
    border-radius: 23px;
    background-color: #1d7a8c;
}
.btn:hover{
    background-color: white;
    color: black;
}
.map {
    background-image: url('../img/contact/map.jpg');
    background-size: 100% 100%;
    max-width: 100%;
    height: 370px;
    background-repeat: no-repeat;
    overflow: hidden;
}
.test7{
    display: block;
    text-align: center;
    align-items: center;
    margin: 55px auto 10px auto; 
  }
  .GET-OUR-NEWSLETTER {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: normal;
    color: #353548;
  }
  .Rounded-Rectangle-649 {
    width: 233px;
    height: 40px;
    display: block;
    float: right;
    margin-right: -80px;
    margin-top: -45px;
    text-align: left;
    padding-left: 17px;
    padding-top: 3px;
    border-radius: 20px;
    border: solid 1px #565656;
    background-color: #f4f5f8;
  }
  .Your-Email {
    display: block;
    margin-bottom: 10px;;
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.29;
    letter-spacing: normal;
    text-align: left;
    color: #565656;
  }
  .Rounded-Rectangle-649-copy {
    width: 88px;
    height: 40px;
    display: block;
    margin-left: 70px;
    float: left;
    text-align: left;
    border-radius: 20px;
    background-color: #ff7b6d;
  }
  .Submit {
    display: block;
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.29;
    letter-spacing: normal;
    color: white;
    padding: 5px 5px 5px 20px;

  }
  .Ellipse-649 {
    width: 48px;
    height: 48px;
    padding: 18px 14px 20px;
    background-color: #525252;
    border-radius: 50%;
    padding-top: 7px;
  }
  img.Forma-1-new {
    width: 20px;
    height: 10px;
    object-fit: contain;
    background-color: transparent;
    position: relative;
  }
  img.Layer-598 {
    width: 60px;
    height: 60px;
    object-fit: contain;
    float: right;
    margin-top: -9px;
  }
  
  .Rectangle-12 {
    width: 100%;
    height: 250px;
    background-color: black;
  }
  img.white_logo_transparent_background-copy-4 {
    width: 106px;
    height: 78px;
    float: left;
    margin-top: 60px;
    object-fit: contain;
  }
  a{
      text-decoration: none;
      color: white;
  }
  .Home-About-Testimonials-FAQs-In {
    display: block;
    margin: auto;
    margin-top: 70px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.14;
    letter-spacing: normal;
    color: #f1f1f1;
  }
  .Home-About-Testimonials-FAQs-In-copy {
    width: 102;
    display: block;
    margin: auto;
    margin-left: -30px;
    margin-top: 70px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.14;
    letter-spacing: normal;
    color: #f1f1f1;
  }
  .Rectangle-12 span .fa{
    color: white;
  }
  .test9{
    display: block;
    align-items: end;
    text-align: right;
    margin: 5px auto; 
    
  }
  .fb-insta-icon{
    align-items: end;
    margin-top: 70px;
  }
  hr{
      color: white;
  }
  .test10{
      display: block;
      margin: auto;
      text-align: center;
  }
  .-Helperland-All-rights-reserved-Terms-and-Conditions {
    padding: 5px 5px 5px 5px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
    color: #737381;
  }
  
  .-Helperland-All-rights-reserved-Terms-and-Conditions .text-style-1 {
    color: #737381;
  }
  .test8{
    display: block;
    text-align: center;
    align-items: end;
    margin: 5px auto; 
  }

  @media screen and (max-width: 600px){
    .Rounded-Rectangle-649 {
        width: 233px;
        height: 40px;
        display: block;
        float: right;
        margin-right: -80px;
        margin-top: 0px;
        text-align: left;
        padding-left: 17px;
        padding-top: 3px;
        border-radius: 20px;
        border: solid 1px #565656;
        background-color: #f4f5f8;
      }
      .Home-About-Testimonials-FAQs-In { 
        display: none;
      }
      .Home-About-Testimonials-FAQs-In-copy {
         display: none;
      }
      img.Layer-598{
        display: none;
      }
      .Ellipse-649{
        display: none;
      }
  }
  
  form#loginForm .input-group{
	width: 100%;
}
form#forgotpasswordform .input-group{
	width: 100%;
}

#forgotpassword a {
  color: #1d7a8c;
}
#forgotpassword a:hover{
  color: #6eabef;
}
.md{
	width:75%;
}
  