html,
body {
  max-width: 100%;
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

.wrapper{
  max-width: 100%;
  overflow:hidden;
}

@media (max-width: 991.98px) {
  .offcanvas-collapse {
    position: fixed;
    top: 80px; /* Height of navbar */
    bottom: 0;
    left: 100%;
    width: 50%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: white;
    transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out;
  }
  .offcanvas-collapse.open {
    visibility: visible;
    transform: translateX(-100%);
  }
  .offcanvas-collapse.open.dropdown-menu{
    left: 0px;
  }
  .invisible1{
    display: none;
  }
  .table-container {
    margin-top: 144px;
    margin-left: 65px;
    min-height: 1000px;
  }
  .nav-li{
    color: black;
  }
  .center{
    margin-right: 105px;
  }
}
.nav-li{
  color: white;
}
.nav-li:hover{
  color: black;
}
.sidenav{
  top: 200px;
  left: 80px;
}
.sidenav {
  background-color: #1d7a8c;

}
.sidenav{
  position: absolute;
  z-index: 0;
  height: 400px;
}
.sidenav-link{
  color: white;
}
/*.sidenav .active{
	background-color:#146371;
	color: white;
}*/
/* .sidenav-primary .sidenav-item .sidenav-link.active {
  background-color: #146371;
}
.sidenav-primary .sidenav-item:hover{
  background-color: rgba(18,102,241,.05);
} */
.sidenav-link:active, .sidenav-link:focus, .sidenav-link:hover {
  color: white;
  background-color: #146371;
  outline: none;
}
/*.sidenav-link:active{
  background-color: #146371;
}*/
/* .sidenav-primary .sidenav-link.active:active{
  color: white;
  background-color: #146371;
} */
/* .sidenav-primary .sidenav-link:focus{
  background-color: #146371;
} */
/* .li-class{
  color: white;
  background-color: #146371;
} */
.left-margin{
  margin-left: 20px !important;
}
.right-margin{
  margin-right: 20px !important;
}
.center{
  margin-right: 105px;
}
.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.navbar{
  background-color: #525252;
}
.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  color: rgba(255, 255, 255, 0.75);
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}
a{
 text-decoration: none;
 color: white;
 }
.white_logo_transparent_background {
  width: 73px;
  height: 54px;
}

/* .nav-underline .nav-link {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 0.875rem;
  color: #6c757d;
} */
.text-white-50 {
  color: rgba(255, 255, 255, 0.5);
}
.bg-purple {
  background-color: #6f42c1;
}
img.avatar {
  width: 35px;
  height: 32px;
  /* margin: 8px 7px 10px 18px; */
  object-fit: contain;
  background-color: var(--white);
}
img.Icon-Notification {
  width: 29px;
  height: 32px;
  /* margin: 10px 25px 12px 16px; */
  object-fit: contain;
  background-color: var(--white);
}
.badge{
  display: inline;
  margin-left: -15px;
}
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.dropdown-menu{
  left: -65px;
}
.welcome{
  height: 110px;
  margin-top: 40px;
  margin-bottom: 50px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  background-color: #f9f9f9;
}
.Welcome-Sandip {
  /* width: 237px;
  height: 29px;
  margin: 0 662px 45px 661px; */
  padding-top: 40px;
  display: block;
  margin:auto;
  font-family: Roboto;
  font-size: 30px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.8;
  letter-spacing: normal;
  text-align: center;
  color: #4f4f4f;
}

.Welcome-Sandip .text-style-1 {
  font-weight: bold;
}
.calender-icon{
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-bottom: 5px;
  margin-right: 5px;
}
.date{
  display: inline;
}
.Ellipse-5 {
    width: 44px;
    height: 44px;
    /* margin: 22px 12px 19px 83px; */
    padding: 8px 7px;
    border: solid 1px #aaa;
    border-radius: 25px;
    background-color: var(--white);
  }
img.cap {
    width: 30px;
    height: 20px;
    object-fit: contain;
    /* background-color: #9c9c9c; */
  }
.lyum-watson{
    display: inline;
}
img.star{
    width: 15px;
    height: 15px;
}
.rate{
    background-color: #6da9b5;
}
.rate:hover{
    background-color: #6da9b5;
}
.payment {
    font-family: Roboto;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: right;
    color: #1d7a8c;
  }
  
   .text-style-1 {
    font-size: 20px;
    font-weight: normal;
  }

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
  .invisible2{
    display: none;
  }
}

.wrapper {
  margin-top: 5vh;
}

.dataTables_filter {
  float: right;
}

.table-hover > tbody > tr:hover {
    background-color: lighten(cyan, 40%);
}
/* //important if we want to add ellipsis
//to cells with content longer than width */
.table {
  @media only screen and (min-width: 768px) {
    table-layout: fixed;
    //this declaration overwrites 
    //the default plugin style
    max-width: 100% !important;
  }
}

thead {
  background: #ddd;
}

.table td:nth-child(2) {
  overflow: hidden;
  /* white-space: nowrap; */
  text-overflow: ellipsis;
}

.highlight {
  background: lighten(yellow,30%);
}
.table-container {
  margin-top: -42px;
  margin-left: 315px;
  min-height: 1000px;
}
.btn{
  border-radius: 20px;
}

.dataTables_filter, .dataTables_info { display: none; }
@media (max-width:1400px){
  .table-container {
    margin-top: 144px;
    margin-left: 65px;
  }
}
@media only screen and (max-width: 767px) {

  .table-container {
    margin-top: 8px;
    margin-left: 65px;
  }
  .nav-li{
    color: black;
  }
  .center{
    margin-right: 105px;
  }
  
  /* Force table to not be like tables anymore */
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }
  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr,
  tfoot tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50% !important;
  }
  td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }
  
  .table td:nth-child(1) {
      background: #ccc;
      height: 100%;
      top: 0;
      left: 0;
      font-weight: bold;
  }
  /*
	Label the data
	*/
  td:nth-of-type(1):before {
    content: "Service Id";
  }
  td:nth-of-type(2):before {
    content: "Service Date";
  }
  td:nth-of-type(3):before {
    content: "Customer Details";
  }
  td:nth-of-type(4):before {
    content: "Payment";
  }
  td:nth-of-type(5):before {
    content: "Time Conflict";
  }
  /* td:nth-of-type(6):before {
    content: "Actions";
  } */
  
  .dataTables_length {
    display: none;
  }
}
.Rectangle-12 {
    width: 100%;
    height: 250px;
    background-color: black;
  }
  img.white_logo_transparent_background-copy-4 {
    width: 106px;
    height: 78px;
    float: left;
    margin-top: 60px;
    object-fit: contain;
  }
  .Home-About-Testimonials-FAQs-In {
    display: block;
    margin: auto;
    margin-top: 70px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.14;
    letter-spacing: normal;
    color: #f1f1f1;
  }
  .Home-About-Testimonials-FAQs-In-copy {
    width: 102;
    display: block;
    margin: auto;
    margin-left: -30px;
    margin-top: 70px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.14;
    letter-spacing: normal;
    color: #f1f1f1;
  }
  .Rectangle-12 span .fa{
    color: white;
  }
  .test9{
    display: block;
    align-items: end;
    text-align: right;
    margin: 5px auto; 
    
  }
  .fa{
      color: white;
  }
  .fb-insta-icon{
    align-items: end;
    margin-top: 70px;
    color: white;
  }
  .fb-icon{
      width: 10px;
      height: 10px;
  }
  hr{
      color: white;
  }
  .test10{
      display: block;
      margin: auto;
      text-align: center;
  }
  .-Helperland-All-rights-reserved-Terms-and-Conditions {
    padding: 5px 5px 5px 5px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
    color: #737381;
  }
  
  .-Helperland-All-rights-reserved-Terms-and-Conditions .text-style-1 {
    color: #737381;
  }
  @media screen and (max-width: 600px) {
    div.example {
      font-size: 30px;
      margin-left: 5px;
    }
    div.example2 {
      font-size: 10px;
    }
    div.example3 {
      font-size: 16px;
    }
    img.step-arrow1{
      display: none;
    }
    img.step-arrow1-copy{
      display: none;
    }
    img.step-arrow1-copy-2{
      display: none;
    }
    .dominate-the-industry-in-scale-and-scope-with-an-adaptable-ext-copy{
      margin: 10px auto;
    }
    .test4{
      position: relative;
      display: block;
      margin: 50px auto;
      text-align: center;
      align-items: center;
    }
    img.Group-36{
      width: 350px;;
      height: 300px;
    }
    img.Layer-598{
      display: none;
    }
    .Ellipse-649{
      display: none;
    }
    .Rounded-Rectangle-649 {
      width: 233px;
      height: 40px;
      display: block;
      float: right;
      margin-right: -80px;
      margin-top: 0px;
      text-align: left;
      padding-left: 17px;
      padding-top: 3px;
      border-radius: 20px;
      border: solid 1px #565656;
      background-color: #f4f5f8;
    }
    .Home-About-Testimonials-FAQs-In { 
      display: none;
    }
    .Home-About-Testimonials-FAQs-In-copy {
       display: none;
    }
  
  }
  .Rounded-Rectangle-5-copy-4 {
    width: 161px;
    height: 40px;
    border-radius: 20px;
    border: solid 1px white;
    background-color: #006072;
    text-align: center;
}

.sidebar-link.active,
.sidebar-link:focus {
  background: #e2e8ed;
  color: grey !important;
  text-decoration: none;
}

.rating {
  display: inline-block;
  position: relative;
  height: 20px;
  line-height: 20px !important;
  font-size: 20px !important;
}

.rating label {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  cursor: pointer;
}

.rating label:last-child {
  position: static;
}

.rating label:nth-child(1) {
  z-index: 5;
}

.rating label:nth-child(2) {
  z-index: 4;
}

.rating label:nth-child(3) {
  z-index: 3;
}

.rating label:nth-child(4) {
  z-index: 2;
}

.rating label:nth-child(5) {
  z-index: 1;
}

.rating label input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

#ratingModelAvgStars .icon{
	color: #ECB91C;
}

#sdModelAvgStars .icon{
	color: #ECB91C;
}
.rating label .icon {
  float: left;
  color: transparent;
}

.rating label:last-child .icon {
  color: #e1e1e1 ;
}

.rating:not(:hover) label input:checked ~ .icon,
.rating:hover label:hover input ~ .icon {
  color: #ECB91C;
}

.rating label input:focus:not(:checked) ~ .icon:last-child {
  color: #e1e1e1;
  text-shadow: 0 0 5px #ECB91C;
}

.fc-content{
	text-align: center;
}

.fc-left{
	font-size: 12px;
}
.fc-left h2{
	font-size: 20px;
	color: #212529;
}

